.hero{
    display: flex;
    margin-top: 130px;
    justify-content: space-between;
    @include for-tablet{
       flex-direction: column-reverse;
       align-items: center;
       row-gap: 20px;
    }
    @include for-phone{
       
    }
    &_left_box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
        row-gap: 20px;
        @include for-tablet{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        @include for-phone{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        &_blog{
            width: 220px;
            height: 200px;
            overflow: hidden;
            position: relative;
           @include for-tablet{
            width: 190px;
           }
           @include for-miniphone{
            width: 160px;
           }
            p{
                font-size: 19px;
                @include for-miniphone{
                    font-size: 17px;
                }
            }
            img{
                width: 100%;
                border-radius: 20px;
                transition: all .5s ease;

            }
            img:hover{
                transform: scale(1.2);
                overflow: hidden;
                cursor: pointer;
            }
            
        }
    }
}
.hero_left{
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        background-color: black;
        color: white;
        border-radius: 30px;
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        margin-top: 23px;
    }
    button:hover{
        color: black;
        background-color: white;
        cursor: pointer;
    }
}
.blog_img{
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}

.hero_right{
    width: 100%;
   img{
    width: 100%;
   }
}

.mySwiper{
    max-width: 800px;
    @include for-bigtablet{
        max-width: 700px;
       }
}

.slide-content {
   
    max-width: 800px;

    @include for-phone{
        max-width: 700px;
       
    }
   img{
    // width: 100%;
    height: 700px;
    border-radius: 20px;
    
   }
    .overlay-text {
      position: absolute;
      top: 100px;
      left: -30px;
      width: 100%;
      padding: 20px;
      color: rgb(139, 137, 19);
      text-align: center;
      transition: opacity 0.3s ease;
      font-size: 64px;
      font-style:italic;
      text-transform: uppercase;
      @include for-tablet{
        font-size: 45px;
      }
      @include for-phone{
        font-size: 35px;
      }
    }
   
  }


  