header{
    box-shadow: 4px 3px 11px 0px rgba(76,31,31,0.53);
    position: fixed;
    top: 0;
    z-index: 90;
    background-color: white;
    width: 100%;
    // margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    @include for-phone{
        padding: 10px 0px;
    }
    @include for-miniphone{
        padding: 8px 0px;
    }
}

    .img{
         width: 200px;
        @include for-phone{
           width: 150px;
        }
    }
    .img:hover{
        cursor: pointer;
    }

.nav{
    display: flex;
    column-gap: 30px;
    align-items: center;
    ul{
        display: flex;
        column-gap: 40px;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: center;
        @include for-tablet{
            justify-content: start;
            flex-direction: column;
            position: absolute;
            right: 0;
            height: 100vh;
            top: 0;
            background-color: white;
            padding-right: 40%;
            padding-left: 20px;
            padding-top: 20px;
            row-gap: 20px;
            box-shadow: -15px -1px 14px -1px rgba(0,0,0,0.3);
            display: none;
            transition: 2s;
            z-index: 5;
        }
        .close{
            position: absolute;
            right:15px;
            font-size: 30px;    
        }
        .navlink{
            color: black;
            font-size: 18px;
        }
        .navlink:hover{
            text-decoration: underline;
        }
        img{
            width: 100px;
            display: none;
            @include for-tablet{
                display: block;
            }
        }
    }
}
.mainButton{
    display: flex;
    column-gap: 20px;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    line-height: 23px;
    @include for-phone{
        display: none;
    }
}
.mainButton:hover{
    color: black;
    background-color: white;
    cursor: pointer;
    a{
        color: black;
    }
}
.open{
    font-size: 30px;
}
.burgerBtn{
    display: none;
    cursor: pointer;
    @include for-tablet{
        display: block;
    }
}

.show{
  display: flex !important;
  transition: 1s;

}
.black{
    color: black;
    display: none;
    @include for-tablet{
        display: flex;
    }
}


.media_one{
    display: none;
    position: relative;
    column-gap: 10px;
    bottom: -400px;
    // margin-top: 240px;
    @include for-tablet{
        display: flex;
    }
    span{
        font-size: 19px;
        border-radius: 50%;
        border: 1px solid black;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    span:hover{
        cursor: pointer;
    }
  }

    .nav_right{
        border: none;
        outline: none;
        color: black;
        font-size: 16px;
        @include for-tablet{
            width: 60px;
            border: 1px solid black;
        }
        select{
            appearance: none;
        }
    }
    a{
        transition: opacity 1s ease;
        color: white
    }
    a:hover{
          color: black  
    }

